<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/font-awesome.min.css">
	<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
	<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
	<link rel="stylesheet" href="../../css/bootstrap-table.min.css">
	<link rel="stylesheet" href="../../css/main.css">
	<link rel="stylesheet" href="../../plugins/treegrid/jquery.treegrid.css">

	<script src="../../libs/jquery.min.js"></script>
	<script src="../../plugins/layer/layer.js"></script>
	<script src="../../libs/bootstrap.min.js"></script>
	<script src="../../libs/vue.min.js"></script>
	<script src="../../libs/validator.min.js"></script>
	<script src="../../libs/bootstrap-table.min.js"></script>
	<script src="../../plugins/treegrid/jquery.treegrid.min.js"></script>
	<script src="../../plugins/treegrid/jquery.treegrid.bootstrap3.js"></script>
	<script src="../../plugins/treegrid/jquery.treegrid.extension.js"></script>
	<script src="../../plugins/treegrid/tree.table.js"></script>
	<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
	<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
	<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
	<script type='text/javascript'>
		document.write("<script src='../../js/common.js?v=" + Date.now() + "'><\/script>");
	</script>
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList1">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.username" @keyup.enter="query1" placeholder="用户名">
			</div>
			<a class="btn btn-default" @click="query1">查询</a>
			<a v-if="hasPermission('sys:role:assignUser')" class="btn btn-primary" @click="addUser"><i class="fa fa-plus"></i>&nbsp;添加用户</a>
			<a v-if="hasPermission('sys:role:assignUser')" class="btn btn-primary" @click="backToRole"><i class="fa fa-plus"></i>&nbsp;返回角色界面</a>
		</div>
	    <table id="jqGrid1"></table>
	    <div id="jqGridPager1"></div>
    </div>
    
    <div v-show="showList2">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.username" @keyup.enter="query2" placeholder="用户名">
			</div>
			<a class="btn btn-default" @click="query2">查询</a>
			<a v-if="hasPermission('sys:role:assignUser')" class="btn btn-primary" @click="save"><i class="fa fa-plus"></i>&nbsp;确定</a>
		</div>
	    <table id="jqGrid2"></table>
	    <div id="jqGridPager2"></div>
    </div>
</div>

<script src="../../js/modules/sys/userRoleList.js"></script>
</body>
</html>