html { overflow-x:hidden; }
.content-header {
	position: relative;
	padding: 0 0 3px 8px
}
.content-header>.breadcrumb {
    position: relative;
    top: 0;
    right: 0;
    float: none;
    margin-top: 0px;
    padding-left: 10px;
    background: #ecf0f5;
}
.skin-red .main-header .logo{
	background: #fe0000;
}
.skin-red .main-header .logo:hover{
	background: #fe0000;
}
.skin-red .main-header .navbar{
	background: #fe0000;
}
.main-footer {
    padding: 7px;
    color: #444;
    border-top: 1px solid #eee;
}

[v-cloak] {
  display: none;
}

.grid-btn{
	margin-bottom:12px;
}
.grid-btn .btn{
	margin-right:10px;
}
.pointer{cursor: pointer;}

.ml-10 { margin-left:0 !important; }
@media (min-width: 768px) {
	.ml-10 { margin-left:10px !important; }
	.col-sm-10 {width: 70%;padding-left: 0px;}
	.col-sm-2 {width: 24%;}
}
tbody > tr > th {font-weight: normal; }
.panel .table { margin:0 0; }
.panel .pagination { margin:0; }
.panel-default>.panel-heading {background-color: #f5f5f5;}
.row{
	border-top: 1px solid #ddd;
	margin:0;
	padding:20px 2px 0px 2px;
}
.col-xs-6{padding-left: 0px;padding-right: 0px;}
.form-horizontal .form-group {margin-left:0px;margin-right:0px;}
.form-horizontal{
	width:550px;padding-top:20px;
}
.form-horizontal-left {
    width: 100%;
    float: left;
}
.form-horizontal-left .form-group {
    float: left;
    width: 50%;
}
/*common css*/
.stepPage{
  display:none;
  height:100%;
}
.stepCont{
  width:100%;
}
.ystep-container {
  font-family: "Helvetica Neue",Helvetica,"Hiragino Sans GB","Wenquanyi Micro Hei","Microsoft Yahei",Arial,sans-serif;
  display: inline-block;
  position: relative;
  color: #000;

  margin: 20px;
}
.ystep-container ul {
  list-style: none;
}
.ystep-container ul,.ystep-container li,.ystep-container p {
  margin: 0;
  padding: 0;
}

/*size css*/
.ystep-lg {
  /*width: 700px;*/
  width:100%;
  height: 60px;
  font-size: 18px;
  /*left: 15%;*/
  line-height: .3;
}

/*large size css*/
.ystep-lg .ystep-container-steps {
  position: absolute;
  top: 2px;
  cursor: pointer;
  z-index: 10;
}
.ystep-lg li {
  float: left;
  width: 100px;
  height: 85px;
  margin-right: 100px;
}
.ystep-lg .ystep-step-done {
  background-position: -278px -132px;
}
.ystep-lg .ystep-step-undone {
  background-position: -137px -131px;
}
.ystep-lg .ystep-step-active {
  background-position: -414px -131px;
}
.ystep-lg .ystep-progress {
  width: 400px;
  height: 10px;
  position: absolute;
  top: 30px;
  left: 15px;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}
.ystep-lg .ystep-progress-bar {
  width: 400px;
  height: 20px;
  background: #e4e4e4;
  display: inline-block;
  float: left;
}
.ystep-lg .ystep-progress-highlight {
  height: 20px;
	display: block;
}

/*blue css*/
.ystep-blue .ystep-step-done {
  background-image: url("./images/pointes_blue.png");
  background-repeat: no-repeat;
}
.ystep-blue .ystep-step-undone {
  background-image: url("./images/pointes_blue.png");
  background-repeat: no-repeat;
  color: #9c9a9b;
}
.ystep-blue .ystep-step-active {
  background-image: url("./images/pointes_blue.png");
  background-repeat: no-repeat;
  color: #3276b1;
}
.ystep-blue .ystep-progress-highlight {
  background: #60baff;
}
/*按钮样式*/
.ystep {
  padding: 20px;
  /*min-width: 1114px;*/
}
.step-button{
  position: relative;
  /*top: -85px;*/
}
.step-button button{
  margin: 15px;
}